page-aluno-home {
    ion-icon {
        font-size: 2em;
    }
    .scroll-content{
        overflow:auto;
    }
}
.ativo{
    display: inline-block; 
    ion-icon{
        opacity: 0.5;
    }
}


ion-icon[name='checkmark-circle']{
    color: springgreen
}
ion-icon[name='close-circle']{
    color: firebrick
}

ion-col > div {
    display: inline-block;
}