page-home {
    ion-grid{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-row{
            height: 100%;
            width: 100%;
            ion-col{
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                height: 100%;
                h1{
                    text-transform: uppercase;
                    font-weight: 900;
                }
                ion-img{
                    contain: none;
                }
            }
        }
    }

    .scroll-content{
        overflow:auto;
    }

    h1{
        font-weight: bold;
        font-size: 4em;
        color: white
    }

    ion-content{
        background-color: cornflowerblue!important
    }

    ion-img{
        background-color: transparent;
        height: 100px;
        width: 100px
    }
}
