ion-header{
    margin-top: 10px
}

.container-fixed-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 90px);
    @media(orientation: landscape){
        button{
            margin-bottom: 16px;
        }
    }
}
.scroll-content{
    overflow:unset;
    @media(orientation: landscape){
        overflow-x: hidden;
        overflow-y: scroll;
    }
}