.container-fixed-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 90px);
    @media(orientation: landscape){
        button{
            margin-bottom: 16px;
        }
    }
}
.scroll-content{
    overflow:unset;
    @media(orientation: landscape){
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

ion-refresher{
    margin-top: 5px;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    border-radius: 10px!important;
    background-color: #F5F5F5!important;
}
::-webkit-scrollbar{
    width: 10px!important;
    background-color: #F5F5F5!important;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px!important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)!important;
    background-color: gray!important;
}
